<launch>
  <arg name="adapter_bootstrap_file" />

  <node pkg="xgc_px4_multirotor_ros1_adapter"
        type="xgc_px4_multirotor_ros1_adapter_node"
        name="$(anon xgc_px4_multirotor_ros1_adapter)"
        output="screen"
        required="true"
        args="--adapter-bootstrap-file $(arg adapter_bootstrap_file)" />
</launch>
