<launch>
  <arg name="adapter_id" default="scout-mini-ros1-adapter" />
  <arg name="socket_path" default="/run/xgc2/adapter/adapter-link.sock" />
  <arg name="bootstrap_token_file" />

  <node pkg="xgc_scout_mini_ros1_adapter"
        type="xgc_scout_mini_ros1_adapter_node"
        name="xgc_scout_mini_ros1_adapter"
        output="screen"
        required="true">
    <param name="adapter_id" value="$(arg adapter_id)" />
    <param name="socket_path" value="$(arg socket_path)" />
    <param name="bootstrap_token_file" value="$(arg bootstrap_token_file)" />
  </node>
</launch>
